<!-- <h1 class="animated fadeIn fast"><small class="animated fadeIn">{{name | uppercase}}</small></h1> -->
<hr>

  <div class="row animated fadeIn fast" *ngIf="heroes.length == 0">
    <div class="col-md-12">
      <div class="alert alert-info" role="alert">
          No existen resultados con el nombre: {{ name }}
      </div>
    </div>
  </div>


<div class="card-columns">
    <app-heroe-detalles  [heroe]="heroe" [index]="i" *ngFor="let heroe of heroes; let i=index" ></app-heroe-detalles>
</div>